
header {
  background-color: #007bff;
  color: white;
  text-align: center;
  padding: 20px 0;
  margin-bottom: 20px;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table h1 {
  color: #007bff;
  font-size: 24px;
  margin-bottom: 10px;
}

table td {
  padding: 20px;
  border: 1px solid #ccc;
  text-align: center;
}

table img {
  max-width: 100%;
  height: auto;
}

table a {
  color: #007bff;
  text-decoration: none;
}

table a:hover {
  text-decoration: underline;
}
